[Unit]
Description=Kodi for ODROID
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=no
RestartSec=1
User=odroid
@@ENVIRONMENT_HOME@@
ExecStart=/bin/bash -c 'cd $HOME;export XDG_RUNTIME_DIR="/run/user/$UID";export DBUS_SESSION_BUS_ADDRESS="unix:path=/run/user/$UID/bus";sudo systemctl restart user@$UID.service;sleep 4;/usr/bin/pulseaudio --start -D;/usr/bin/kodi --audio-backend=alsa'

[Install]
WantedBy=multi-user.target
