Source: odroid-stamper
Section: utils
Priority: optional
Maintainer: Dongjin Kim <tobettter@gmail.com>
Uploaders: Dongjin Kim <tobetter@gmail.com>
Build-Depends: debhelper (>= 9), dash
Standards-Version: 3.9.6
Vcs-Browser:
Vcs-Git:
Rules-Requires-Root: no

Package: odroid-stamper
Architecture: any
Depends: lynx, dialog, pv, squashfs-tools
Description: Utility to create or install a OS to a storage
 The odroid-stamper is a script that will help to create an OS image with
 update packages or install to a memory card on ODROID single board computer
 itself that does not necessary to download and fusing an OS image with a
 desktop.
