KERNEL=="uinput", MODE="0660", GROUP="input"
KERNEL=="uhid", MODE="0660", GROUP="input"
KERNEL=="rga", SUBSYSTEM=="input", MODE="0660", GROUP="video"
KERNEL=="event[0-11]*", SUBSYSTEM=="input", MODE="0666", GROUP="input"
KERNEL=="mouse[0-1]*", SUBSYSTEM=="input", MODE="0666", GROUP="input"
KERNEL=="mice", SUBSYSTEM=="input", MODE="0666", GROUP="input"
